<!-- <app-navbar></app-navbar> -->
<div class="container">

    <div class="leftNavigation">
       <div class="welcome">
        <img src="assets/images/logoblack.png" alt="">
        <h4>Welcome <br> User Name </h4>
       </div>
       <hr>
       <div class="home">
        
        <a href="">☰   Dashboard</a>
       </div>
       <hr>
       <div class="orders">
        <a href="">My Profile</a>
        <a href="">Orders</a>
        <!-- <a href=""> </a> -->

       </div>
       <hr>
       <div class="orders">
        <a href="">Add Distribution</a>
        <a href="">Delivered</a>
        <a href="">Sent Parcels </a>

       </div>
       <hr>
    </div>
    
    <div class="rightNavigation">
        <div class="search">
            <div class="search-container">
                <form>
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search">GO</i></button>
                </form>
            </div>
            <div class="pic">
               
                <p>User Name</p>
            </div>
        </div>
        <div class="layer2">
            <div class="dash">
                <h2>☰ Dashboard</h2>
            </div>
            <div class="addbtn">
                <button>Download Report</button>
            </div>
        </div>
        <!-- <div class="layer3">
            <div class="cont 1">
                <h4> Total Employees</h4>
                <p>24</p>
            </div>
                <div class="cont 2">
                    <h4> Total Employees</h4>
                    <p>24</p>
                </div>
                <div class="cont 3">
                    <h4> Total Employees</h4>
                    <p>24</p>
                </div>
                <div class="cont 4">
                    <h4> Total Employees</h4>
                    <p>24</p>
                </div>
            </div>
 -->


<!-- data table -->
<div class="users">
<div class="topic">
<h1>All Deliveries</h1>
<p>Click on a user to view more details about the delivery</p>
</div>


<table id="customers">
  <tr>
    <!-- <th>Full Name</th> -->
    <th>Parcel Description</th>
    <th>Destination</th>
    <th>Status</th>
    
  </tr>
  <tr>
    <!-- <td>Man Like</td> -->
    <td>Black paper</td>
    <td>Nairobi</td>
    <td>Pending</td>
  </tr>
  <tr>
    <!-- <td>Fredrick Ototo</td> -->
    <td>Envelope</td>
    <td>Kisii</td>
    <td>Pending</td>
  </tr>
  <tr>
    <!-- <td>David Moyes</td> -->
    <td>TV Stand</td>
    <td>Nakuru</td>
    <td>Pending</td>
  </tr>
  <tr>
    <!-- <td>Felista Addis</td> -->
    <td>TV</td>
    <td>Nakuru</td>
    <td>Delivered</td>
  </tr>
 
</table>
</div>


    </div>

    


</div>
