<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0px;
    }
    .container {
        width: 100%;
        margin: auto;
        padding-bottom: 50px;
        background-color: rgb(51, 81, 39);
        color: white;
        align-items: center;
        border-radius: 20px;
        text-align: center;
    }
    .login-btn{
        background-color: crimson;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
    }
    image{
        height: fit-content;
        width: fit-content;
    }
    p{
        font-size: medium;
    }
</style>
<body>
    <table class="container">
      <tr>
          <td>
              <table width="600" style="margin: auto;">
                 <tr>
                     <td style="background-color: white; align-items:center;">
                        <p style=" text-align: center; color: #000000;font-size:45px; font-weight:bold"> Welcome To SENDIT </p>
                        <p> Welcome To SENDIT </p>
                     </td>
                 </tr>
               </table>
          </td>
      </tr>
      <tr>
          <td style="padding: 20px;">
            <table width="600" style="margin: auto;">
                <tr>
                    <td>
                       
                        <img  src="https://igotit.app/wp-content/uploads/2019/12/Are-you-getting-the-best-out-of-your-delivery-management-system.jpg" alt="image"/>
                        <!-- <br><br> -->
                        <!-- <h2 style="font-size: 30px;">Hello ,</h2> -->
                        <br><br>
                        <p style="color: rgb(247, 242, 242);font-size: 30px; margin: 10px 0px;font-weight: 400;">Karibu SendIT</p>

                        <br>
                        <p style="font-size: 30px;">
                        <p style="font-size: 30px;">We are happy to have you Join us today.</p>
                        <br>
                        
                        <p style="font-size: 30px;"> In case of any query do not hesitate to reach us. <br> Our delivery team is waiting for your first Order.</p>
                        <br><br><br><br><br>
                        <p style="font-size: 25px;">
                        Call +0713025513 for more Information</p>
                       
                        </p>
                    </td>
                </tr>
            </table>
        </td>
      </tr>
      <tr>
          <td>
              <table width="600" style="margin: auto;">
                
            </table>
          </td>
      </tr>
    </table>
</body>
</html>