

<div class="upcontainer">
    <div class="line"></div>
  
    <div class="left">
      <div class="logo">
          <img style="height:30px; width: 130px;" src="assets/images/logoblack.png" alt="">
      </div>
      <div class="title">
          <h1 style="color:#FFFFFF ;">Best Way to Deliver<br>Your Goods.</h1>
      </div>
      
      <div class="desc">
          <p>Your assets are safe as you track and control<br>what you send.</p>
      </div>
      <div class="buttons">
         <a routerLink="/auth/login"> <button class="btn log">Login </button></a>
          <a routerLink="/auth/register"><button  class="btn join">Join Us</button></a>
      </div>
    </div>
  
  
  
    <div class="rightimage">
      <ng-lottie [options]= "options"  (animationCreated)= "animationCreated($event)" ></ng-lottie>
    </div>
  </div>
  
  <!-- <hr class="rounded">    -->
  
  
  <div class="containerdown">
  <div class="picleft">
      <img src="assets/images/africa1.png" alt="">
  </div>
  <div class="inforight">
      <div class="titledown">
          <h1>Who we are</h1>
      </div>
      <div class="infodown">
          <p>SendIT is a leading courier service  based in
               Kenya, established in the year 2022, with offices in Nairobi,
              Kisii, Eldorect and Mombasa. We take pride in serving the customer
               needs in the best possible way, creating long
               term business relations and extremely satisfied clients.
               <br><br> Our expert
                team have many years of dedicated art handling experience to call 
                upon.
               Every shipment is project managed and handled with the utmost care, 
               our service is designed entirely around your own personal needs. 
  
               We move incredible art around the Kenya every day. 
                Works from artists such as Banksy, Picasso and 
                Joshua Reynolds, ceramics, sculptures and more.  
               
               We handle all mediums of crafts, including
                glasswork, textiles and weaving, sculptures of all sizes 
                and materials.  Whatever you need moving, anywhere in the world, 
                we can take care of it every step of the way.
               
               We can provide expertise</p>
      </div>
      <div class="btnspace">
          <button class="btnq">Get Quote</button>
      </div>

      
  </div>






  </div>
  <app-footer></app-footer>

