<div class="users">
    <div class="topic">
      <h1>All Deliveries</h1>
      <!-- <p>Click on a user to view more details about the delivery</p> -->
    </div>

    <table id="customers">
      <tr>
        <!-- <th>Full Name</th> -->
        <th>Parcel Description</th>
        <th>Destination</th>
        <th>Status</th>
      </tr>
      <tr>
       
        <td>Black paper</td>
        <td>Nairobi</td>
        <td>Pending</td>
        <td><button>View Details</button></td>
      </tr>
      
    </table>
  </div>
