<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0px;
    }
    .container {
        width: 100%;
        margin: auto;
        padding-bottom: 50px;
        background-color: rgb(65,105,225);
        color: white;
        align-items: center;
        border-radius: 20px;
        text-align: center;
    }
    .login-btn{
        background-color: crimson;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
    }
    image{
        height: fit-content;
        width: fit-content;
    }
    p{
        font-size: medium;
    }
</style>
<body>
    <table class="container">
      <tr>
          <td>
              <table width="600" style="margin: auto;">
                 <tr>
                     <td style="background-color: white; align-items:center;">
                        <p style=" text-align: center; color: #000000;font-size:43px; font-weight:bold"> SENDIT  </p>
                       
                     </td>
                 </tr>
               </table>
          </td>
      </tr>
      <tr>
          <td style="padding: 20px;">
            <table width="600" style="margin: auto;">
                <tr>
                    <td>
                       
                        
                        <br><br>
                        <h2 style="font-size: 30px;">Thank you for placing your Order</h2>
                        <br><br>
                        <!-- <p style="color: rgb(247, 242, 242);font-size: 30px; margin: 10px 0px;font-weight: 400;">Karibu SendIT</p> -->

                        <br>
                        <p style="font-size: 20px;">
                        <p style="font-size: 20px;">Your Delivery Order placed and has now been sent.</p>
                        <br>
                        
                        <p style="font-size: 20px;"> In case of any query do not hesitate to reach us. <br> Use the Map option to track your delivery as it is being Delivered <br>
                        <br> We will call you once it has been delivered. <br> Thank you for choosing SendIT as your Delivery Partner</p>
                        <br><br><br><br><br>
                        <p style="font-size: 16px;">
                        Call +0713025513 for more Information</p>
                        <br>
                        <br>
                        

                        <img  src="https://www.webretailer.com/wp-content/uploads/2019/02/Parcels-being-delivered-around-the-world.jpg" alt="image"/>
                       
                        </p>
                    </td>
                </tr>
            </table>
        </td>
      </tr>
      <tr>
          <td>
              <table width="600" style="margin: auto;">
                
            </table>
          </td>
      </tr>
    </table>
</body>
</html>