<div class="layer2">
  <div class="dash">
    <h2>☰ Dashboard </h2><p> 
      {{todayDate | date}}</p>
  </div>
  <div class="addbtn">
    <button>Download Report</button>
  </div>
</div>

<div class="users">
    <div class="topic">

      <h1>All Deliveries</h1>

      
    </div>

    <table id="customers">
      <tr>
        <th>Parcel Description</th>
        <th>From</th>
        <th>Destination</th>
        <th>Status</th>
       <th>Receiver</th>

      </tr>
      <tr *ngFor="let parcel of allparcels | paginate: { itemsPerPage:5, currentPage: p }">

        
        <td>{{parcel.ParcelDescription }}</td>
        <td>{{parcel.DispatchedFrom}}</td>
        <td>{{parcel.Destination}}</td>
        <td>{{parcel.ReceiverName}}</td>
        <td>{{parcel.P_Status}} <button><a (click)="parceldetail(parcel.ParcelID)">Details</a></button></td>
        <!-- routerLink="/admin/delivery/" -->
 
      </tr>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>