
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Poppins:wght@500&family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Poppins:wght@100;500&family=Rubik:wght@300;400;500&display=swap');



.title, h3{
    color: #3d3e39;
    align-items: center;
    margin-left: 100px;
    text-decoration: underline;
    

}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 1px solid lime; */
    font-family: 'Kumbh Sans', sans-serif;
    

}
.form{
    /* border: 1px solid lime; */
    width: 75%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
h3,input{
    margin-left: 150px;
}
.put{
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 10px;
    width: 50%;
}
.sbt{
    padding: 10px 60px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: #CBFC00;
    text-decoration: bold;
    border: 0px;
    width: 50%;
    
}

.sbtbtn{
    align-content: center;
}

.sbt:hover{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(149, 249, 0);
    text-decoration: bold;
    border: 0px;
}

.log {
   margin: 20px 40px;
}

.link, a{
    align-items: center;
    color: aliceblue;
    padding: 30px;
    padding-left: 18%;
}

.link, a:hover {
    align-items: center;
    color: rgb(0, 136, 255);
}

/* input.ng-invalid.ng-touched, textarea.ng-invalid , select.ng-invalid.ng-touched{
    border-left: 7px solid red ;
}
input.ng-valid.ng-touched, textarea.ng-valid , select.ng-valid.ng-touched{
    border: 2px solid rgb(55, 241, 55) ;
}

.error{
    color: red;
    font-size: small;
} */