.container{
    display: flex;
    justify-content: center;
    row-gap: 20px;
    margin-top: 90px;
    margin-bottom: 70px;
}

.form{
    margin-top: 100px;
    padding-right: 100px;
}
.put{
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 10px;
    width: 300px;

}

.sbt{
    padding: 10px 60px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #CBFC00;
    text-decoration: bold;
    border: 0px;
    width: 100%;
    
}

.sbtbtn{
    align-content: center;
}

.sbt:hover{
    padding: 10px 60px;
    border-radius: 20px;
    background-color: rgb(149, 249, 0);
    text-decoration: bold;
    border: 0px;
}

.pic,img{
    height: 530px;
    
}

.link, a{
    align-items: center;
    color: aliceblue;
    padding: 40px;
    padding-left: 13%;
}

.link, a:hover {
    align-items: center;
    color: rgb(0, 136, 255);
}

input.ng-invalid.ng-touched, textarea.ng-invalid , select.ng-invalid.ng-touched{
    border-left: 7px solid red ;
}
input.ng-valid.ng-touched, textarea.ng-valid , select.ng-valid.ng-touched{
    border: 2px solid rgb(55, 241, 55) ;
}

.error{
    color: red;
    font-size: small;
}

@media   screen and (max-width: 600px) {
    

    
}